figure {
  height: 450px;
  width: 450px;

  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;
}

pre {
  height: 450px;
  padding: 0px;
  margin: 0px;
}

.cell {
  float: left;
  width: 24px;
  height: 24px;
  margin: 0px;
  border: solid rgba(0, 0, 0, 0.22);
  background-color: white;

}


.apple {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;
  content: url("http://img3.wikia.nocookie.net/__cb20120817164648/adventuretimewithfinnandjake/images/7/7d/Apple.png");
  background-color: white;

}

.coffee {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;
  content: url("http://www.clker.com/cliparts/d/4/d/9/1237562201214390563pitr_Coffee_cup_icon.svg.hi.png");

}

.snakeHeadN {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;

  transform: rotate(90deg);
  content: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTOYqZ5CEireovG-fgRj1KlvU8UdnZlPEyt1JMohAqPp2axrtv65w");
}

.snakeHeadW {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;


  content: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTOYqZ5CEireovG-fgRj1KlvU8UdnZlPEyt1JMohAqPp2axrtv65w");
}

.snakeHeadS {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;

  transform: rotate(270deg);
  content: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTOYqZ5CEireovG-fgRj1KlvU8UdnZlPEyt1JMohAqPp2axrtv65w");
}

.snakeHeadE {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;

  transform: scaleX(-1);
  content: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTOYqZ5CEireovG-fgRj1KlvU8UdnZlPEyt1JMohAqPp2axrtv65w");
}

.snake {
  float: left;
  width: 24px;
  height: 24px;
  border: solid rgba(0, 0, 0, 0.22);
  margin: auto;

  content: url("http://freedesignfile.com/upload/2012/12/snake_skin_05.jpg");
}

.enter-play {

}

.score {
  
}

.game-over {
  color: white;
}

.game-over-visible {
  color: blue;
  font-size: 60px;
}
